*.class
*.classpath
*.merge-left*
*.merge-right*
*.mine
*.prej
*.project
*.working
*/.git/*
*/target/*
.deployables
.git
.settings
.svn
_svn
svn-commit*.tmp
target
*.settings
rebel.xml
*.metadata/*
*.DS_Store
*/rebel.xml
*.iml
.idea
